body {
    margin: 0;  /*Per me eliminu default space*/
    padding: 0;
    background-color: rgb(243, 243, 228);
}

/* Kodi per Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    background-color: transparent;
}

header .headeri {
    padding: 10px;
}

header ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    margin-top: 10px;
}

header li {
    margin: 0 15px;
}

header a {
    text-decoration: none;
    color: black;
}

/* Responsive header */

@media only screen and (max-width: 320px) {
    header {
        position: static;
        flex-direction: column;
        align-items: center;
    }

    .headeri img {
        height: 40px;
        margin-bottom: 10px;
    }

    header ul {
        margin-top: 10px;
    }

    header li {
        margin: 5px 0;
    }
}

.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: garamond;
}

.overlay-text p {
    font-size: 35px;
    margin: 0;
}

.overlay-text button {
    padding: 12px 25px;
    color: white;
    background-color: #BC8F8F;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.overlay-text button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.overlay-text button:hover {
    background-color: #A05252;
    transform: scale(1.05);
}
.info {
    margin: 40px auto;
    text-align: center;
    padding: 0 20px;
}

.info h2 {
    font-size: 28px;
    color: #333;
}

.info p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

/* Responsive container */

@media only screen and (max-width: 320px) {
    .info h2 {
        font-size: 20px;
    }

    .info p {
        font-size: 14px;
    }

    .info {
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

/* Kodi per 4-img */

.containers {
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
}

.containers img {
    width: 50px;
    margin-right: 30px;
    margin-left: 30px;
    opacity: 1;
}

.containers div {
    display: flex;
}

/* Responsive containers */

@media only screen and (max-width: 320px) {
    .containers {
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    .containers img {
        width: 80px;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .containers div {
        text-align: center;
    }
}

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
}
.mySlides {
    display: none;
    text-align: center;
}

.mySlides img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

img {
    vertical-align: middle;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@media only screen and (max-width: 320px) {
    .slideshow-container {
        width: 100%;
    }

    .prev,
    .next {
        font-size: 14px;
    }

    .text,
    .numbertext {
        font-size: 12px;
    }

    .dot {
        height: 10px;
        width: 10px;
        margin: 0 1px;
    }
}


/* Kodi per flexbox */

.fotografite {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin-top: 80px;
}

.fotografite .image {
    width: 300px;
    margin-left: 130px;
    margin-right: 50px;
    border-radius: 10px;
    height: 255px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.container {
    position: relative;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.textt {
    color: white;
    font-size: 16px;
    top: 40%;
    left: 10%;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Responsive */

@media only screen and (max-width: 320px) {
    .fotografite {
        flex-direction: column; /* Change to a column layout for smaller screens */
        align-items: center;
        margin-top: 20px;
    }

    .fotografite .image {
        width: 100%; /* Make the images full width on smaller screens */
        margin: 0;
        margin-bottom: 20px; /* Add some spacing between images for smaller screens */
    }
}

/* Kodi per seksionin e dyqanit */

.container3 {
    text-align: center;
    margin-top: 20px;
    position: relative;
}

.container3Tekst {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    text-align: center;
}

.container3Tekst h2 {
    color: #BC8F8F;
    text-decoration: none;
    font-size: 24px;
}

.container3Tekst p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

.container3Tekst button {
    padding: 10px 20px;
    color: white;
    background-color: #BC8F8F;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.container3Tekst button a {
    text-decoration: none;
    color: white;
}

.container3 img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 320px) {
    .container3Tekst {
        padding: 10px;
        max-width: 90%;
    }

    .container3Tekst h2 {
        font-size: 20px;
    }

    .container3Tekst p {
        display: none; /* Hide the paragraph on smaller screens */
    }

    .container3Tekst button {
        padding: 8px 16px;
        font-size: 14px;
    }
}

/* Kodi per footer */

footer {
    background-color: #F8F8FF;
    color: black;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
}

.footermain {
    display: flex;
    justify-content: space-around;
    font-family: cursive;
    font-style: italic;
    font-size: 15px;
}

.f {
    color: black;
}

.f {
    display: flex;
    justify-content: space-around;
}

.end {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content p {
    margin: 0;
    flex: 1;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}

.footer-links li {
    margin: 0;
}

.footer-links li a {
    color: #fff;
    text-decoration: none;
}

.footer-links li a:hover {
    text-decoration: underline;
}

/* Responsive Styles for Footer */

@media only screen and (max-width: 320px) {
    footer {
        flex-direction: column; /* Change to a column layout for smaller screens */
    }

    .footermain {
        flex-direction: column;
    }

    .footerleft,
    .footercenter,
    .footerright {
        flex: 1;
        width: 100%;
        margin-bottom: 10px;
    }

    .end {
        padding: 10px 0;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
    }
}